.topFive {
    font-size: 0.9em;
}

div.portfolio-trend-up {
    font-weight: bold;
    color: green;
    vertical-align: middle;
}

.portfolio-trend-up > i {
    font-size: 24px;
    vertical-align: middle;
}

.portfolio-trend-flat {
    font-weight: bold;
    vertical-align: middle;
}

.portfolio-trend-flat > i {
    font-size: 24px;
    vertical-align: middle;
}
